:root {
  margin: 0;
  padding: 0;

  --black-color: #00100b;
  --font-color: #dccde8;
  --background: rgb(68, 3, 129);
  --brown: rgb(136, 111, 104);
  --blue-hover-main: #2596be;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  color: var(--font-color);
  font-family: "Open Sans", sans-serif !important;
  background-color: rgb(100, 100, 100);
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/* navbar */

.navbar {
  position: absolute;
  background-color: var(--brown);
  top: 0;
  width: 100%;
}

.navbar > .navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar > .navbar-list > li {
  text-decoration: none;
  margin: 0 2rem;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--blue-hover-main);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.navbar li > a {
  color: var(--font-color);
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0.2em 0;
  font-size: 1.5rem;
}

.navbar li > a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.navbar li a:hover::after,
.navbar li a:focus::after {
  transform: translate3d(0, 0, 0);
}

/* main */

.section-header {
  font-size: clamp(4rem, 6vw, 12rem);
  text-align: center;
  margin: 1rem;
  width: 100%;
}

main {
  margin: 1rem auto;
  width: 50%;
  padding: 5rem;
}

.posts {
  align: center;
  width: 50vw;
}

.post-container {
  display: grid;
  grid-template: repeat(3, 1fr);
  border: 1px solid grey;
  margin: 1rem;
  padding: 1rem;
}

.post-container > .post-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.7rem;
  grid-column: 1/4;
}

.post-container > .post-text {
  font-size: 0.8rem;
  text-align: center;
  float: left;
  grid-column: 3/4;
  grid-row: 2/4;
}

.post-container > img {
  width: 100%;
  display: block;
  grid-column: 1/2;
  grid-row: 2/4;
}

.important-span {
  color: var(--blue-hover-main);
  font-size: 1.3em;
}
